/target/
/.classpath
/.project
/.settings
/node_modules
/package-lock.json
/webpack.config.js
/webpack.generated.js
/package.json
/bin/
/frontend/generated
/frontend/index.html
vite.generated.ts
tsconfig.json
vite.config.ts
types.d.ts
